/************************** Header*******************/

.header {
  overflow: hidden;
  background-color: white;
}

.logo {
  float: left;
  width: 70px;
  margin-left: 100px;
  margin-top: 5px;
}

.email {
  float: right;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

/************************Section and Aside**************************/

.group {
  display: flex;
}

.left {
  margin-left: 10px;
}

.right {
  margin-top: 100px;
  margin-left: 10px;
}

/***********************body********************************/

body {
  text-align: justify;
  height: 100%;
  width: 80%;
  margin: auto;
}

/************************Filters***************************/

.filterByParty {
  display: flex;
  justify-content: space-around;
}

/*******************************Alert**********************/
#alert {
  color: red;
  font-weight: 600;
  display: none;
}

/*******************************Spinner*********************/

.loader {
  z-index: 99;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.loader .hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/**************************Read More*************************/

/***********************Footer*****************************/
.page-footer {
  background-color: #343a40;
  bottom: 0;
  width: 100%;
  padding: 0%;
}

.footer-copyright {
  color: #fff;
  padding: 0%;
}
